/* 变量 styl 文件后面一定要在后面加上空行，因为 style-resources-loader 会将这些变量自动添加到每个 styl 文件中 */

// 字体大小
$font-size-s = 10px 12px
$font-size-m = 14px 16px
$font-size-l = 18px 22px

// 颜色定义规范
$color-bg = rgb(255, 252, 247)
$color-bg-d = rgba(224, 229, 223, 1)
$color-dark-bg = rgba(45, 36, 31, 1)
$color-dialog-bg = rgba(95, 82, 74, .8)
$color-theme = rgba(162, 153, 138, 1)
$color-theme-d = rgba(162, 126, 130, 1)
$color-sub-theme = rgba(188, 169, 162)
$color-text = rgba(45, 36, 31, 1)
$color-text-d = rgba(49, 36, 28, 1)
$color-text-l = rgba(214, 214, 214, 1)
$color-text-ll = rgba(253, 249, 237, 1)
